@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@theme {
	--color-background: rgb(35, 39, 42);
	--color-foreground: rgb(44, 47, 51);
	--color-primary: rgb(88 101 242);
}
